* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.box-one {
    width: 20vw;
    height: 60vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10em;
}

.top-first {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.top-first span {
    font-size: larger;
    margin-left: 10px;
}


.dot {
    border-bottom: 2px dotted green;
}