body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gradient-section {
    padding: 50px;
    text-align: center;
    color: rgb(57, 49, 49);
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 91vh;
}

.gradient-section h1 {
    margin: 0;
    font-size: 3em;
}

.gradient-section p {
    font-size: 1.2em;
}

.background-image-div {
    padding: 50px;
    text-align: center;
    color: rgb(70, 69, 69);
    background: url('https://imgs.search.brave.com/yOpRp52oUm3Bb3KQ39kEA__KYYRkH7qI92JhA83pN9c/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxNS8w/Ny8wNS8xMC8xOC90/cmVlLTgzMjA3OV82/NDAuanBn') no-repeat center center;
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height: 91vh;
}

.background-image-div h2 {
    margin: 0;
    font-size: 2.5em;
}

.background-image-div p {
    font-size: 1.2em;
}
